body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color:#E5E7EB;
    font-size: 18px;
}

.header {
    justify-content: space-between;
    align-items: center;
}

.header, .footer {
    background-color: #1F2937;
    display: flex;
    flex: none;
}

.header, .hero, .info, .quote, .action {
    padding: 0 100px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.content {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #1F2937;
    flex: auto;
}

.info {
    background-color: #F9FAF8;
    flex: auto;
}

.quote {
    background-color: #E5E7EB;
    flex: auto;
}

.action {
    background-color: #F9FAF8;
    flex: auto;
}

.footer {
    justify-content: center;
    align-items: center;
}

.footer > .text {
    color: #E5E7EB;
}